html,
body {
    color-scheme: light dark;
}

.bg-main {
    background: linear-gradient(45deg, #8aa9e7, #b7cdee, #e3ecf5);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    .bg-main {
        background: linear-gradient(45deg, #0f1b2c, #11284b, #1363a9);
    }
}
